body {
    font-family: Arial;
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    color: purple;
}

input {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px;
    background: purple;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
}